*::selection {
  background: #ffff9e;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.link {
  transition: 0.2s ease-in-out;

  &:hover {
    color: #212529 !important;
  }
}

.big-icon {
  max-width: 200px;
  min-width: 100px;
}

.carousel-inner {
  background: #f8f9fa; /* Фон для областей без изображения */
  min-height: 400px;
}

.carousel-item img {
  max-height: 500px;
  width: auto !important;
  margin: 0 auto;
  object-fit: contain;
}

/* Custom btns */
.custom-carousel-control {
  background-color: rgba(0, 0, 0, 0.8) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-size: 60% !important;
  transition: all 0.3s ease;
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}

.custom-carousel-control:hover {
  background-color: rgba(0, 0, 0, 1) !important;
  transform: scale(1.1);
}

@media (width >= 768px) {
  header {
    width: fit-content;

    .burger {
      display: none;
    }
  }

  .burger-links {
    display: none;
  }
}

@media (width < 768px) {
  .carousel-inner {
    max-height: 300px !important;
  }

  .carousel-item img {
    max-height: 300px !important;
  }

  .burger-links {
    position: fixed;
    top: 6rem;
    left: 1.5rem;
    padding: 2rem;
    border: 2px solid black;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5%);
    transition: 0.2s ease-in-out;

    &.active {
      transform: translateY(0%);
      visibility: visible;
      opacity: 1;
    }
  }

  header {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    margin-top: 1.5rem;
    margin-left: 1.5rem;

    nav {
      display: none;
    }

    .burger {
      display: block;

      .logo {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (width <= 546px) {
  .mt {
    margin-top: 3rem;
  }

  .mb {
    margin-bottom: 3rem;
  }
}
